[class*="col-md-4"] {
    padding: 1rem;
    background-color: white;
    /* border: 1px solid purple; */
    color:black;
    text-align: center;
}
[class*="col-md-6"] {
    padding: 1rem;
    background-color: white;
    color:black;
    /* text-align: center; */
}

body {
    white-space: 100%;
    padding: 50px;
}
